.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  background-color: #759ff1;
  /* min-height: 100vh; */
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-box {
  background-color: #e7a618;
  /* min-height: 100vh; */
  min-height: 8vh;
  min-width: 32vh;
  padding: 2vh;
  margin: 1vh;
  border-radius: 4vh;
  display: flex;
  flex-direction: column;
}

.App-box-function {
  background-color: #30c57b;
  color: rgb(204, 41, 177);
  font-size: x-large;
  font-style: italic;
  /* min-height: 100vh; */
  min-height: 4vh;
  min-width: 28vh;
  padding: 2vh;
  border-radius: 4vh;
  display: flex;
  flex-direction: column;
}

.App-footer {
  background-color: #282c34;
  /* min-height: 100vh; */
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}